.transition { 
	-webkit-transition: all .25s ease; 
	-moz-transition: all .25s ease; 
	-o-transition: all .25s ease; 
	-ms-transition: all .25s ease; 
	transition: all .25s ease; 
}

html { 
  background: url(./../images/beach-background.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.pointer { 
	cursor: pointer;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
}

canvas#main-canvas {
    width: 100%;
    height: 100%;
    background-image: ;
}

div#overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

div#stamppick {
	top: calc(50% + 10em);
	left: calc(50% + 2em);
	position: absolute;
	border-radius: 50%;
	border: 2px solid blue;
	width: 4em;
	height: 4em;
	text-align: center;
	z-index: 5;
}

div#leaderboard {
	top: calc(50% + 10em);
	left: calc(50% - 6em);
	position: absolute;
	border-radius: 50%;
	border: 2px solid blue;
	width: 4em;
	height: 4em;
	text-align: center;
	z-index: 5;
}

#stamppick i, #leaderboard i {
	font-size: 2em !important;
	line-height: 2;
}

div#stamppickscreen {
	display: none;
	position: absolute;
	top: calc(50% - 15em);
	width: 100vw;
	height: 30em;
	overflow-x: auto;
	white-space: nowrap;
	border: 5px black solid;
}

.stampcontainer {
	height: 15em;
	width: 15em;
	margin-top: 1.5em;
	margin-left: 1em;
	background-color: orange;
	display: inline-block;
	clear: none;
	text-align: center;
	overflow: hidden;
}

.stampcontainer img {
	max-width: 12em;
	max-height: 10em;
}

.selectedstamp {
	border: 3px solid black;
	border-radius: 4px;
	box-sizing: border-box;
}

#userStamp {
	position: absolute;
	width: 100%;
	height: 14em;
	top: calc(50% - 13em);
	text-align: center;
}

#userStamp img {
	max-width: 100%;
	max-height: 14em;
}

.lockedstamp {
	opacity: .5;
}

.background_choice {
	z-index: 100;
	width: 750px;
	height: 7em;
	float: right;
	overflow: hidden;
	border: 3px solid black;
	background-color: lightcyan;
	border-radius: 10px;
	margin-right: .5em;
	margin-top: .25em;

}

.background_choice h2 {
	float: left;
	margin-top: 1.9em;
	margin-left: 1em;
}

.background_icon {
	width: 10em;
	height: 5em;
	margin-top: 1em;
	margin-left: 1em;
}

.hidden {
	display: none;
}

.endgame {
	top: 50%;
	left: calc(50% - 15rem);
	text-align: center;
	position: fixed;
	z-index: 2;
	display: flex;
	justify-content: center;
	display: none;
}

.end-game-button {
	width: 15rem;
	height: 7rem;
	background-color: gold;

}